.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px; /* Space between cards */
  max-width: 200px; /* Maximum width of the grid */
  margin: 0 auto; /* Center the grid */
  padding-top: 20px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ddd;
  color: #333;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #aaa;
}

.card.flipped {
  background-color: #fff;
  color: #000;
}

.hellowrold{
  font-size: 44px;
}
