.notification-container {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  z-index: 1000;
}

.notification {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.notification.success {
  background-color: #4caf50;
}

.notification.error {
  background-color: #f44336;
}

.notification.info {
  background-color: #2196f3;
}

.notification button {
  background: none;
  border: none;
  color: inherit;
  margin-left: auto;
  cursor: pointer;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.App{
    display: flex;
}
.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  margin-inline: auto;
  gap: 10px;
  margin-bottom: 20px;
  margin: 0 auto 20px; /* Center horizontally and add bottom margin */

}
