.register-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px; 
    padding: 10px;
    gap: 30px;
    border-radius: 5px;
  }
  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  input{
    height: 30px;
    width: 300px;
    border-radius: 10px;
  }
  button{ height: 30px; width: 100px; color: white;}